.login-page{
    width: 100%;
    margin: 10vh 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.login-container{
    padding: 1.5vh;
    width: 26%;
    height: 50%;
    border: 1px solid #dadce0;
    border-radius: 7px;
    background-color: white;
}

.first-content{
    justify-content: center;
}

.Google{
    display: flex;
    font-size: 25px;
    margin: 0vh 0vw 0vh -18vw; 
    margin-left: 40%;
    width: 75;
    height: 24;
}

.sign-in{
    font-size: 25px;
    margin-top: auto;
    text-align: center;
}

.account{
    /* background-color: black; */
    font-size: 20px;
    margin: -1vh 0vw 3vh 0vw;
    text-align: center;
}

.email{
    font-size: 0px;
    padding: 0px ;
    display: flex;
    justify-content: space-between;
    margin: 1px 1px 0 1px;
}

.pass{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin: 1px 1px 0 1px;
}

.forget{
    font-size: 14px;
    margin-bottom: 24px;
    border-radius: 4px;
    color: #1a73e8;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    text-align: left;
}

.text{
    font-size: 15px;
}

.learnmore{
    color: blue;
    cursor: pointer;
}

.create{
    display: flex;
    font-family: "Google Sans",Arial,sans-serif;
    /* margin: 0vh 2vw; */
    cursor: pointer;
    justify-content: space-between;
}

.c-text{
    color: #1a73e8;
    font-weight: 500;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 15px;
}

.next{
    text-align: right;
}

@media screen and (max-width:430px) {
    .login-page{
        display: flex;
        width: 100%;
        /* z-index: -1; */
    }
    .login-container{
        border-radius: 0px;
        border: 0px solid #dadce0;
        width: 90%;
        padding-left: 3%;
        padding-right: 1%;
    }
}