
.mainDisplay{
    padding-top: 50px;
    padding-left: 50px;
    pointer-events: auto;
}

 .displayBox{
    display: flex;
    background-color: #fff;
    border-color: #e0e0e0;
    border: 1px solid #dadce0;
    border-radius: 8px;
    width: 250px;
    min-height: auto;
    // height: 130px;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5px;
    padding-top: 10px;
 }

.title1{
    width: 100%;
    margin: 4px !important;
    font-weight: bold !important;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
}

.title-desc{
    width: 100%;
    margin: 4px !important;
    word-wrap: break-word;
}

.icons{
    padding-top: 10px;
    padding-bottom: 10px;
}

.close-Icon{
    display: flex;
    margin: 0vh -2vw;
}