.Notes-container{
    display: flex;
    position: absolute;
    flex-wrap: wrap;

.mainDisplay{
    padding-top: 50px;
    padding-left: 50px;
    pointer-events: auto;
}

 .displayBox{
    display: flex;
    background-color: #fff;
    border-color: #e0e0e0;
    border: 1px solid #dadce0;
    border-radius: 15px;
    width: 250px;
    min-height: auto;
    // height: 130px;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5px;
    padding-top: 10px;
 }

.title1{
    width: 100%;
    margin: 4px !important;
    font-weight: bold !important;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
}

.title-desc{
    width: 100%;
    margin: 4px !important;
    word-wrap: break-word;
}
}
.icons{
    padding-top: 10px;
    padding-bottom: 10px;
    color: inherit;
}


.close-Icon{
    display: flex;
    margin: 0vh -2vw;
}

@media screen and (max-width:900px) {
    .mainDisplay{
        grid-template-columns: repeat(3,1fr);
        width: 100%;
    }
    .displayBox{
        width: 80%;
        margin: 15px auto;
    }
}

@media screen and (max-width:850px) {
    .mainDisplay{
        grid-template-columns: repeat(3,1fr);
        width: 100%;
    }
    .displayBox{
        width: 65%;
        margin: 15px auto;
    }
}

@media screen and (max-width:650px) {
    .mainDisplay{
        grid-template-columns: repeat(3,1fr);
        width: 100%;
    }
    .displayBox{
        width: 65%;
        margin: 15px auto;
    }
}

@media screen and (max-width:500px) {
    .mainDisplay{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
    .displayBox{
        width: 50%;
        margin: 15px auto;
    }
}

@media screen and (max-width:420px) {
    .mainDisplay{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    .displayBox{
        width: 40%;
        margin: 10px auto;
        
    }
}