.main-body{
    margin: auto;
    padding: 50px;
    width: 50%;
}

.page{
    width: 750px;
    height: 600px;
    padding: 25px;
    display: flex;
    border: 1px solid black;
    justify-content: center;
}

.left-part{
    width: 48%;
    align-items: flex-start;
    align-content: flex-start;
}

.image{
    width: 48%;
    justify-content: center;
}

.google{
    display: flex;
    font-size: 25px;
    color: blue;
    margin: 0vh 0vw 0vh 24vw;
    justify-content: left;
    /* text-align: left; */
}

.h1-heading{
    font-family: "Google Sans";
    font-size: 25px;
    font-weight: 500;
    color: black;
    margin: 0vh 0vw 0vh 0vw;
    margin-bottom: 24px;
    /* margin-left: 5px; */
}

.first-line{
    display: flex;
    width: 100%;
    /* justify-content: center; */
    justify-content: space-between;
}

.emailId{
    padding-top: 24px;
    width: 100%;
    display: block;
}

.email-option{
    color: #1A73E8;
    font: 14px;
    font-family: "Google Sans", Arial, sans-serif;
    padding-top: 12px;
    padding-bottom: 24px;
    font-weight: 600;
    margin-left: -60px;
}

.password{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;

}

.showpass{
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.check{
    margin: 2.5vh 1vw;
}

.showbox{
    font-size: 15px;
    margin-left: 5%;
}

.last-part{
    display: flex;
    /* justify-content: center; */
}

.signin{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: blue;
    /* margin: 1.5vh 0vw 0vh vw; */
    text-align: left;
}

.box{
    /* width: 10px;
    height: 2px; */
    text-align: right;
}

.logo{
    width: 65%;
    height: 50%;
    margin: 10vh 6vw;
}

.logo-text{
    font: 50px;
    font-style: italic;
    margin:-10vh 0vw 0vh 5vw;
}

